.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  height: 40px;
  width: 180px;
  .el-input__prefix {
    display: none;
  }
  .el-input__suffix-inner {
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.0835 3.54167V2.5H7.25016V3.54167V3.98437V4.11784V4.15405V4.15556V4.15697V4.15951V4.16346V4.16486V4.16586L6.66683 4.16667L6.0835 4.16665V4.16565V4.16346V4.15951V4.15697V4.15556V4.15405V4.11784V3.98437V3.54167ZM13.3335 4.16667H6.66683H4.50016H3.3335V5.33333V16.3333V17.5H4.50016H15.5002H16.6668V16.3333V8.08333V6.91667V5.33333V4.16667H15.5002H13.3335ZM13.3335 4.16667L12.7502 4.16665V4.16565V4.16346V4.15951V4.15697V4.15556V4.15405V4.11784V3.98437V3.54167V2.5H13.9168V3.54167V3.98437V4.11784V4.15405V4.15556V4.15697V4.15951V4.16346V4.16486V4.16586L13.3335 4.16667ZM15.5002 5.33333H4.50016V6.91667H15.5002V5.33333ZM15.5002 8.08333H4.50016V16.3333H15.5002V8.08333ZM9.16683 11.1667H10.8335V9.83333H9.16683V11.1667ZM12.5002 12.9167V14.25H14.1668V12.9167H12.5002ZM14.1668 9.83333V11.1667H12.5002V9.83333H14.1668ZM7.50016 14.25V12.9167H5.8335V14.25H7.50016ZM5.8335 11.1667V9.83333H7.50016V11.1667H5.8335ZM9.16683 14.25H10.8335V12.9167H9.16683V14.25Z' fill='%23575958'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
  .el-input__inner {
    &::placeholder {
      @include fontSetting(16px, 400, $color-A0A3A2);
    }
  }
}

.tablet {
  .el-date-editor.el-input,
  .el-date-editor.el-input__wrapper {
    height: 72px;
    width: 100%;
    .el-input__suffix-inner {
      width: 32px;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.73282 5.66667V4H11.5995V5.66667V6.375V6.58854V6.64648V6.64889V6.65115V6.65522V6.66154V6.66377V6.66537L10.6662 6.66667L9.73282 6.66665V6.66503V6.66154V6.65522V6.65115V6.64889V6.64648V6.58854V6.375V5.66667ZM21.3328 6.66667H10.6662H7.19949H5.33282V8.53333V26.1333V28H7.19949H24.7995H26.6662V26.1333V12.9333V11.0667V8.53333V6.66667H24.7995H21.3328ZM21.3328 6.66667L20.3995 6.66665V6.66503V6.66154V6.65522V6.65115V6.64889V6.64648V6.58854V6.375V5.66667V4H22.2662V5.66667V6.375V6.58854V6.64648V6.64889V6.65115V6.65522V6.66154V6.66377V6.66537L21.3328 6.66667ZM24.7995 8.53333H7.19949V11.0667H24.7995V8.53333ZM24.7995 12.9333H7.19949V26.1333H24.7995V12.9333ZM14.6662 17.8667H17.3328V15.7333H14.6662V17.8667ZM19.9995 20.6667V22.8H22.6662V20.6667H19.9995ZM22.6662 15.7333V17.8667H19.9995V15.7333H22.6662ZM11.9995 22.8V20.6667H9.33282V22.8H11.9995ZM9.33282 17.8667V15.7333H11.9995V17.8667H9.33282ZM14.6662 22.8H17.3328V20.6667H14.6662V22.8Z' fill='%23293332'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
    .el-input__inner {
      &::placeholder {
        @include fontSetting(24px, 400, $color-A0A3A2);
      }
    }
  }
}
